#
dev: nobody

name: DAFFtube

description: MovieStream from NoWhere

poster: /assets/img/dafftube.webp

avatar: /assets/img/logo-img.webp

iklanVideo: https://www.youtube.com/embed/r0OnstvpjHQ

disqus:

google_analytics: G-MBYBX123VX

url: 

baseurl: ""

permalink: /nonton/:title

version: v1.2.0

kramdown:

  input: GFM

  syntax_highlighter: rouge
  syntax_highlighter_opts:

    css_class: 'highlight'

sass:
  style: :expanded

gems:
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
