---
layout: default
permalink: /ID-id/home
---

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
</style>

<div class="grid-container">
  {% for item in site.posts %}
	<ion-card class="border-card">
<ion-grid v-for="(item, index) in data" style="padding:0;">
			<ion-row class="first-row">
				<div class="company">
					{{ item.title }}
				</div>
                <div class="img-linear"></div>
				<div class="img" style="background-image:url({{item.cover1}})" ></div>
			</ion-row>
			<ion-row class="second-row">
				<ion-col style="display:none;">
					<div class="label">Resolusi</div>
					<div class="value">
						{{ item.res }}
					</div>
				</ion-col>
				<ion-list lines="none" style="background-color:white;float:right">
                    <ion-buttons slot="end">
                        <ion-button onclick="pageVideo{{forloop.index}}()">
                            <ion-icon color="success" slot="icon-only" name="play-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
				</ion-list>
			</ion-row>
		</ion-grid>
	</ion-card>
  {% endfor %}
</div>
