
        <ion-tab tab="akun">
          <ion-header translucent>
            <ion-toolbar>
              <ion-title>Akun</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content fullscreen class="ion-padding">
                <ion-card class="undermain">
                    <ion-card-content>
                        <center><ion-note>Under Maintenance</ion-note></center>
                    </ion-card-content>
                </ion-card>
          </ion-content>
        </ion-tab>
