
        <ion-tab tab="plays">
          <ion-header translucent>
            <ion-toolbar>
    {% include iframe.html %}
            </ion-toolbar>
        <ion-segment value="2022">
          <ion-segment-button class="tabsegment" value="2022" onclick="openTaun(event, '2022')">
            <ion-label>2022</ion-label>
          </ion-segment-button>
          <ion-segment-button class="tabsegment" value="2021" onclick="openTaun(event, '2021')">
            <ion-label>2021</ion-label>
          </ion-segment-button>
          <ion-segment-button class="tabsegment" value="2020" onclick="openTaun(event, '2020')">
            <ion-label>Oldest</ion-label>
          </ion-segment-button>
        </ion-segment>
          </ion-header>
<script>
function openTaun(evt, taunName) {
  var i, segment, tabsegment;
  segment = document.getElementsByClassName("segment");
  for (i = 0; i < segment.length; i++) {
    segment[i].style.display = "none";
  }
  tabsegment = document.getElementsByClassName("tabsegment");
  for (i = 0; i < tabsegment.length; i++) {
    tabsegment[i].className = tabsegment[i].className.replace(" active", "");
  }
  document.getElementById(taunName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
          <ion-content id="2022" fullscreen scroll-y="true" class="segment">
    {% include 2022.html %}
          </ion-content>
          <ion-content id="2021" fullscreen scroll-y="true" class="segment" style="display:none">
    {% include 2021.html %}
          </ion-content>
          <ion-content id="2020" fullscreen scroll-y="true" class="segment" style="display:none">
    {% include oldest.html %}
          </ion-content>
        </ion-tab>
