{% include ion-modal.html %}
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="slot">
            <ion-label>Home</ion-label>
            <ion-icon name="home"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="plays">
            <ion-label>Playlist</ion-label>
            <ion-icon name="play"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="blogs">
            <ion-label>Blogs</ion-label>
            <ion-icon name="terminal"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="akun">
            <ion-label>Akun</ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
