
        <ion-tab tab="blogs">
          <ion-header translucent>
            <ion-toolbar>
              <ion-title>Blogs</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-content fullscreen="true">
                <ion-card class="akunmain">
                    <ion-card-content>
                        <center><ion-note>Under Maintenance</ion-note></center>
                    </ion-card-content>
                </ion-card>
          </ion-content>
        </ion-tab>
