---
---


@import "./reset";
@import "./variables";
html{max-width:480px;margin:auto!important;overflow:hidden;}.modal-handle{display:none!important}.separator{width:-webkit-fill-available;width:-moz-available}.undermain{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRkQad6HEwqx9JJHc-nLUcUJHa2KfMGSThFg&usqp=CAU);background-size:auto;background-position:center;background-repeat:no-repeat;height:-webkit-fill-available;width:100%;margin:0;}.akunmain{background-image:url(/assets/images/logo_img.png);background-size:350px;background-position: center;background-repeat:no-repeat;height:-webkit-fill-available;width:100%;margin:0;}.center{position:absolute;left:0;right:0;margin-left:auto;marginright:auto;width: 100%;}



@import "./highlights";
@import "./svg-icons";
